<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>微服务天气预报</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
	</head>
<body>
	<div class="container">
		<div class="row">
			<h3 th:text="${reportModel.tittle}">dxx</h3>
			<select id="selectCityId">
				<option th:each="city:${reportModel.cityList}"
						th:value="${city.cityId}"
						th:text="${city.cityName}"
						th:selected="${city.cityId eq reportModel.cityId}">
				Volvo
				</option>
			</select>
		</div>
	</div>
	<div class="contrainer" th:if="${reportModel.report}!=null">
		<div class="row">
			<p>
				空气质量指数： <span th:text="${reportModel.report.aqi}"></span>
			</p>
		</div>
		
		<div class="row">
			<p>
				当前温度： <span th:text="${reportModel.report.wendu}"></span>
			</p>
		</div>
		
		<div class="row">
			<p>
				温馨提示： <span th:text="${reportModel.report.ganmao}"></span>
			</p>
		</div>
		
		<div class="row">
			<div class="card" th:each="forecast: ${reportModel.report.forecast}">
				<div class="card-body">
					<p class="card-text" th:text="${forecast.date}">周五？</p>
					<p class="card-text" th:text="${forecast.type}">晴？</p>
					<p class="card-text" th:text="${forecast.high}">高温40？</p>
					<p class="card-text" th:text="${forecast.low}">低温22？</p>
					<p class="card-text" th:text="${forecast.fengxiang}">东南？</p>
				</div>
			</div>
		</div>
	</div>
	<div class="contrainer" th:if="${reportModel.report}==null">
		<div class="row">
			<p>
				天气数据不可用。
			</p>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/report.js}"></script>
</body>
</html>